<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 pd-0">
      <div class="angular">
        <label>Angular 4 Features</label>
      </div>
      <div class="feature-heading">Angular Animations</div>
      <div class="terminal-parent">
        <div class="terminal terminal-height">
          <pre>{{animationCommand}}</pre>
        </div>
        <div class="terminal terminal-height">
          <pre>{{animationComponent}}</pre>
        </div>
        <div class="terminal terminal-height">
          <pre>{{animationHTML}}</pre>
        </div>
      </div>
      <div>
        <iframe class="ng-demo" src="https://ng-run.com/" title="Angular Live"></iframe>
      </div>
    </div>
  </div>
</div>
